*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
wheels/diff_gaussian_rasterization-0.0.0-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
wheels/nvdiffrast-0.3.3-cp310-cp310-linux_x86_64.whl filter=lfs diff=lfs merge=lfs -text
assets/example_image/T.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_building.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_castle.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_colorful_cottage.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_maya_pyramid.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_mushroom.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_building_space_station.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_dragon.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_elephant.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_furry.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_quadruped.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_robot_crab.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_robot_dinosour.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_creature_rock_monster.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_humanoid_block_robot.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_humanoid_dragonborn.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_humanoid_dwarf.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_humanoid_goblin.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_humanoid_mech.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_crate.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_fireplace.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_gate.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_lantern.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_magicbook.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_mailbox.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_monster_chest.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_paper_machine.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_phonograph.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_portal2.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_storage_chest.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_telephone.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_television.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_misc_workbench.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_biplane.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_bulldozer.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_cart.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_excavator.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_helicopter.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_locomotive.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/typical_vehicle_pirate_ship.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/weatherworn_misc_paper_machine3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/character_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/character_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/character_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/mushroom_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/mushroom_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/mushroom_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/orangeguy_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/orangeguy_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/orangeguy_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/popmart_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/popmart_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/popmart_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/rabbit_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/rabbit_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/rabbit_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/tiger_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/tiger_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/tiger_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/yoimiya_1.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/yoimiya_2.png filter=lfs diff=lfs merge=lfs -text
assets/example_multi_image/yoimiya_3.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/1.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/2.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/3.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/4.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/5.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/6.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/7.png filter=lfs diff=lfs merge=lfs -text
assets/example_image/8.png filter=lfs diff=lfs merge=lfs -text
